<div class="card-background">
  <img class="w-100 rounded" [src]="imgSrc" [alt]="imgAlt">
  @if(showPrice) {
  <div class="d-flex flex-column my-2">
    <span class="header">{{productName}}</span>
    <span class="description">{{productDescription}}</span>
  </div>

  @if(isCounter && specialProduct){
  <div class="counter">
    <button class="btn counter-btn" (click)="removeItemBtn()">-</button>
    <span class="px-2 fs-5">{{counter}}</span>
    <button class="btn counter-btn" (click)="addItemBtn()">+</button>
  </div>
  }

  <div class="product-pricing">
    <span class="price">{{"EGP " + productPrice}}</span>
    @if(isCounter && normalProduct){
    <div class="counter">
      <button class="btn counter-btn" (click)="removeItemBtn()">-</button>
      <span class="px-2 fs-5">{{counter}}</span>
      <button class="btn counter-btn" (click)="addItemBtn()">+</button>
    </div>
    }
    <button class="btn btn-style" (click)="orderBtnClick()">{{btnState}}</button>
  </div>
  }
</div>