@use "colors" as cv;
@use "mixins" as mx;
@use "variables" as vr;

.card-background {
  background-color: #f1f0ee;
  padding: 8px;
  border-radius: 8px;
  @media (max-width: vr.$breakpoint-md) {
    margin-bottom: 15px;
  }

  .header {
    font-size: 16px;
    font-weight: 700;
    @media (max-width: vr.$breakpoint-md) {
      font-size: 14px;
    }
  }

  .description {
    font-size: 13px;
    @include mx.text-truncate(2);
    @media (max-width: vr.$breakpoint-md) {
      font-size: 12px;
    }
  }

  .product-pricing {
    @include mx.flex-display(row, space-between, center);
    @media (max-width: vr.$breakpoint-md) {
      @include mx.flex-display(column, center, start);
    }

    .price {
      font-weight: 700;
      font-size: 20px;
      @media (max-width: vr.$breakpoint-md) {
        font-size: 16px;
      }
    }

    .btn-style {
      font-size: small;
      background-color: cv.$text-brown;
      color: white;
      @media (max-width: vr.$breakpoint-md) {
        width: 100%;
      }
    }
  }
}