@use "variables" as vr;
@use "colors" as cv;
@use "mixins" as mx;

.container {
    padding: 48px 0;

    .sub-contianer {
        margin-top: 100px;
        border-radius: 8px;
        background-color: white;
        padding: 0 12px;

        .header-style {
            text-align: center;
            font-size: 27px;
            font-weight: 700;
            color: cv.$text-brown;
            margin: 25px 0;
        }

        .checkout {
            width: 30%;
            margin: 10px auto;
            @include mx.flex-display(column);

            .header {
                font-size: 26px;
                font-weight: 500;
                margin-bottom: 14px;
            }

            .subtotal {
                width: 100%;
                font-weight: 500;
                @include mx.flex-display(row, space-between, center);
            }

            .shipping {
                width: 100%;
                font-weight: 500;
                @include mx.flex-display(row, space-between, center);
            }

            .line {
                width: 100%;
                height: 1px;
                background-color: cv.$Background;
                margin: 10px 0;
            }

            .total {
                width: 100%;
                margin-bottom: 14px;
                font-weight: 500;
                @include mx.flex-display(row, space-between, center);
            }

            .checkout-btn {
                border-radius: 30px;
                padding: 8px 28px;
            }
        }
    }
}