<div>
    <div class="bg-img"></div>

    <div class="header">
        <h2>ABOUT US</h2>
    </div>

    <div class="circle"></div>
    <app-details-section [iconClass]="'fa-regular fa-calendar'" [contentTitle]="'Our Story'"
        [contentSubtitle]="'From Kiosk to Global Café Brand'" [content]="ourStory"
        [imgURL]="'assets/Images/Coffee_kiosk.png'" [isImgRight]="true" />

    <app-details-section [iconClass]="'fa-brands fa-java'" [contentTitle]="'Our Mission'"
        [contentSubtitle]="'Innovating with Quality'" [content]="ourMission"
        [imgURL]="'assets/Images/coffee_machine.jpg'" [isImgLeft]="true" />

    <app-details-section [iconClass]="'fa-regular fa-eye'" [contentTitle]="'Our Vision'"
        [contentSubtitle]="'Sustainable Global Vision'" [content]="ourVision" [imgURL]="'assets/Images/world_map.png'"
        [isImgRight]="true" />
</div>