<!-- <div class="container">
    <div class="row sub-container">
        <span class="header-style">ABOUT US</span>
        <app-details-section [contentTitle]="'Our Story'" [content]="ourStory"
            [imgURL]="'assets/Images/coffee_kiosk.jpg'" [isImgLeft]="true" />
        <app-details-section class="sections-spacing" [contentTitle]="'Our Mission'" [content]="ourMission"
            [imgURL]="'assets/Images/coffee_machine.jpg'" [isImgRight]="true" />
        <app-details-section [contentTitle]="'Our Vision'" [content]="ourVision"
            [imgURL]="'assets/Images/three_coffee_cups.jpg'" [isImgLeft]="true" />
    </div>
</div> -->
<div>
    <div>
        <img class="w-100" src="assets/Images/Cafe_background.png" alt="">
    </div>

    <div class="header">
        <h2>ABOUT US</h2>
    </div>

    <div class="circle"></div>
    <div class="details-container">
        <div class="icon-circle">
            <i class="fa-regular fa-calendar"></i>
        </div>

        <div class="details-section">
            <h3>Our Story</h3>
            <span class="title">From Kiosk to Global Café Brand</span>
            <p>Founded in 1975 in Toronto, Canada, Second Cup grew from a small mall kiosk into a leading café brand
                by expanding across Canada in the 1980s and broadening its menu in the 1990s as café culture rose.
                By the 2000s, it became a popular gathering place focused on coffee craftsmanship, later refreshing
                its cafés and menus in 2015 and expanding internationally into regions such as the Middle East and
                Europe.</p>
        </div>

        <div class="img-container">
            <img src="assets/Images/Coffee_kiosk.png" alt="">
        </div>
    </div>
</div>