<div class="details-container">
    <div class="icon-circle">
        <i [class]="iconClass"></i>
    </div>

    @if (isImgLeft) {
    <div class="img-container">
        <img [src]="imgURL" alt="about us">
    </div>
    }

    <div class="details-section">
        <h3>{{contentTitle}}</h3>
        <span class="title">{{contentSubtitle}}</span>
        <p>{{content}}</p>
    </div>

    @if(isImgRight){
    <div class="img-container">
        <img [src]="imgURL" alt="about us">
    </div>
    }
</div>