<div class="container">
    <div class="row">
        <div class="col-3 offset-1">
            <img class="img-section" src="assets/Images/coffee_kiosk.jpg" alt="coffee kiosk">
        </div>
        <div class="col-6 offset-1 details-section">
            <div class="header">
                <h3>Our Story</h3>
                <div class="line"></div>
            </div>
            <div class="content">
                <div class="dot"></div>
                <span>Founded in 1975 in Toronto, Canada, Second Cup started as a small kiosk in a shopping mall selling
                    whole bean coffee.</span>
            </div>
        </div>
    </div>
</div>