<div class="container">
    <div class="row">
        <span class="header-style">REGISTER NOW</span>
        <div class="col-4">
            <app-generic-input [label]="'First Name'"></app-generic-input>
        </div>
        <div class="col-4">
            <app-generic-input [label]="'Last Name'"></app-generic-input>
        </div>
        <div class="col-4">
            <app-generic-input [label]="'Email'"></app-generic-input>
        </div>
        <div class="col-12">
            <app-generic-input [label]="'Address'"></app-generic-input>
        </div>
        <div class="col-4">
            <app-generic-input [label]="'Password'"></app-generic-input>
        </div>
        <div class="col-4">
            <app-generic-input [label]="'Re-type Password'"></app-generic-input>
        </div>
        <div class="col-1">
            <button class="btn login-btn">Register</button>
        </div>
    </div>
</div>