@use "colors" as cv;
@use "fonts" as fr;
@use "mixins" as mx;
@use "variables" as vr;

.footer-container {
  background-color: cv.$text-brown;
  color: cv.$text-whitesmoke;
  padding: 50px;

  .shop-name {
    font-family: fr.$Shop-Name;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
  }

  .footer-content {
    gap: 8px;
    @include mx.flex-display(column, center, start);

    .content-headline {
      font-size: 17px;
    }

    .content {
      font-size: 14px;
    }
  }

  .socialmedia-header {
    font-size: 17px;
    @media (max-width: vr.$breakpoint-md){
      margin-left: 24px;
    }
  }

  .socialmedia-container {
    margin: 20px 0 0 15px;
    gap: 17px;
    @include mx.flex-display(column, center, start);
    @media (max-width: vr.$breakpoint-md){
      @include mx.flex-display(row, center, start);
    }

    .icon-alignment {
      gap: 15px;
      @include mx.flex-display();

      i {
        font-size: 23px;
      }
    }
  }

  .rights{
    font-size: small;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
    @include mx.flex-display();
  }
}
