<div class="general-container">
  <div class="navbar-container" [ngClass]="isScrolled ? 'scrolled' : isSolid ? 'solid-navbar' : ''">
    @if(!mobileView){
    <div class="container">
      <div class="row">
        <div class="col-3">
          <span class="shop-name">Second Cup</span>
        </div>
        <div class="col-8 navbar-alignement">
          <a href="/home"><span>HOME</span></a>
          <a href="/coffee-menu"><span>COFFEE</span></a>
          <a href="/dessert-menu"><span>DESSERT</span></a>
          <a href="/shop"><span>SHOP</span></a>
          <a href="/about"><span>ABOUT</span></a>
          <a href="/login"><span>LOGIN</span></a>
        </div>
        <div class="col-1 icon-alignment">
          <div class="cart-container">
            <i class="fa-solid fa-cart-shopping"></i>
            <div class="cart-counter">1</div>
          </div>
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
    </div>
    }

    @if(mobileView){
    <div class="mobile-view">
      <div>
        <span class="shop-name">Second Cup</span>
      </div>

      @if(menuButtonView) {
      <div class="mobile-navbar" (click)="onNavbarClick()">
        <div class="straight-lines"></div>
        <div class="straight-lines"></div>
        <div class="straight-lines"></div>
      </div>
      }
      @if(!menuButtonView) {
      <div (click)="onMenuCancel()">
        <i class="fa-solid fa-xmark text-white"></i>
      </div>
      }
    </div>

    @if(megaMenuView) {
    <div class="mobile-menu">
      <span>HOME</span>
      <span>COFFEE</span>
      <span>BAKERY</span>
      <span>SHOP</span>
      <span>ABOUT</span>
      <span>LOGIN</span>
    </div>
    }
    }
  </div>
</div>