<div class="general-container">
  <div class="navbar-container" [ngClass]="isScrolled ? 'scrolled' : isSolid ? 'solid-navbar' : ''">
    @if(!mobileView){
    <div class="container">
      <div class="row">
        <div class="col-3" (click)="goToHome()">
          <i class="fa-brands fa-java shop-icon"></i>
          <span class="shop-name">Second Cup</span>
        </div>
        <div class="col-8 navbar-alignement">
          <a routerLink="/home"><span>HOME</span></a>
          <a routerLink="/coffee-menu"><span>COFFEE</span></a>
          <a routerLink="/dessert-menu"><span>DESSERT</span></a>
          <a routerLink="/shop"><span>SHOP</span></a>
          <a routerLink="/about"><span>ABOUT</span></a>
          <a routerLink="/login"><span>LOGIN</span></a>
        </div>
        <div class="col-1 icon-alignment">
          <div class="cart-container" (click)="goToCart()">
            <i class="fa-solid fa-cart-shopping"></i>
            @if(cartNumber !== 0){
            <div class="cart-counter">{{cartNumber}}</div>
            }
          </div>
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
    </div>
    }

    @if(mobileView){
    <div class="mobile-view">
      <div (click)="goToHome()">
        <i class="fa-brands fa-java shop-icon"></i>
        <span class="shop-name">Second Cup</span>
      </div>

      <div class="mobile-cart-container" (click)="goToCart()">
        <i class="fa-solid fa-cart-shopping fa-lg"></i>
        @if(cartNumber !== 0){
        <div class="mobile-cart-counter">{{cartNumber}}</div>
        }
      </div>

      @if(menuButtonView) {
      <div class="mobile-navbar" (click)="onNavbarClick()">
        <div class="straight-lines"></div>
        <div class="straight-lines"></div>
        <div class="straight-lines"></div>
      </div>
      }
      @if(!menuButtonView) {
      <div (click)="onMenuCancel()">
        <i class="fa-solid fa-xmark text-white"></i>
      </div>
      }
    </div>

    @if(megaMenuView) {
    <div class="mobile-menu" (click)="onMenuCancel()">
      <a routerLink="/home"><span>HOME</span></a>
      <a routerLink="/coffee-menu"><span>COFFEE</span></a>
      <a routerLink="/dessert-menu"><span>DESSERT</span></a>
      <a routerLink="/shop"><span>SHOP</span></a>
      <a routerLink="/about"><span>ABOUT</span></a>
      <a routerLink="/login"><span>LOGIN</span></a>
    </div>
    }
    }
  </div>
</div>