@use "fonts" as fr;
@use "colors" as cv;
@use "mixins" as mx;
@use "variables" as vr;

.general-container {
  @include mx.position();

  .navbar-container {
    width: 100%;
    background-color: transparent;
    z-index: 1;
    transition: background-color 0.3s ease;
    @include mx.position(fixed, 0);

    .container {
      padding: 8px 12px;
      color: cv.$white-color;

      .col-3 {
        padding-left: 48px;

      }
      
      .navbar-alignement{
        gap: 40px;
        font-size: medium;
        @include mx.flex-display();

        a {
          text-decoration: none;
          color: cv.$white-color;
        }
      }
      
      .icon-alignment{
        margin-top: vr.$margin-4;
        @include mx.flex-display(row, space-around, center);
        
        i{
          font-size: 23px;
        }

        .cart-container{
          cursor: pointer;
          @include mx.position();

          .cart-counter{
            width: 13px;
            height: 13px;
            background-color: cv.$BG-dark-orange;
            border-radius: 50%;
            font-size: xx-small;
            @include mx.flex-display();
            @include mx.position(absolute, auto, auto, 19px, 19px);
          }
        }

      }
    }
  }

  .solid-navbar{
    background-color: cv.$text-brown;
  }

  .navbar-container.scrolled {
    background-color: cv.$text-brown;
  }
  
  .mobile-view {
    padding: 15px;
    @include mx.flex-display(row, space-between, center);

    .mobile-navbar {
      width: 30px;
      height: 26px;
      padding: 1px;
      border: 1px solid cv.$text-whitesmoke;
      border-radius: 3px;
      z-index: 1;
      margin-right: 8px;
      @include mx.position(absolute, 15px, 10px);
      @include mx.flex-display(column, space-evenly, center);
    
      .straight-lines {
        width: 75%;
        height: 3px;
        background-color: cv.$text-whitesmoke;
        border-radius: 50px;
      }
    }
  }

  .mobile-menu {
    background-color: cv.$white-color;
    border-radius: 8px;
    @include mx.flex-display(column);

    a {
      width: 100%;
      text-align: center;
      color: cv.$text-brown;
      padding: 11px;
      text-decoration: none;
      border: 1px solid rgba(100, 100, 100, 0.1);
    }

    a:hover {
      background-color: cv.$text-brown;
      color: cv.$text-whitesmoke;
    }
  }

  .shop-name {
    font-family: fr.$Shop-Name;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: cv.$white-color;
    @media (max-width: vr.$breakpoint-md) {
      font-size: 20px;
    }
  }
}
