@use "mixins" as mx;
@use "colors" as cv;

    .menu-option {
        width: 84%;
        display: flex;
        margin: 16px 0;
        
        .img-style {
            width: 30%;
            margin-right: 7px;
        }

        .product-description {
            background-color: #f1f0ee;
            border-radius: 8px;
            padding: 10px;
            @include mx.flex-display(column, space-between, start);
            
            .btn-style {
                font-size: 14px;
                background-color: cv.$text-brown;
                color: white;
            }

            .counter{
              margin-bottom: 4px;
              @include mx.flex-display();

              .counter-btn{
                padding: 0 7px !important;
                font-size: large;
                &:hover{
                  background-color: cv.$text-brown;
                  color: white;
                }
              }
            }
        }
    }
