<div class="container">
    <div class="row">
        <span class="header-style">OUR SHOP</span>
        @for(product of coffeeProducts; track $index){
        <div class="col-6 col-md-3 products-alignment">
            <app-product-card [imgSrc]="product.productImg" [imgAlt]="'coffee product'"
                [productName]="product.productName" [productDescription]="product.productDescription"
                [productPrice]="product.productPrice" [normalProduct]="true" [selectedProduct]="product" />
        </div>
        }
    </div>
</div>

@if(subtotal != 0 && showSubtotal){
<app-subtotal (close)="closeSubtotal()" />
}