@use "colors" as cv;
@use "fonts" as ft;
@use "mixins" as mx;
@use "variables" as vr;

.background {
  background-color: cv.$Background;

  .background-img {
    background-image: url("../../../assets/Images/pour-coffe.jpg");
    background-size: cover;
    background-position: center;
    height: 75vh;
    color: cv.$white-color;
    @include mx.flex-display(row, start, center);
    @include mx.position(relative);
    @media (max-width: vr.$breakpoint-md) {
      height: 25vh;
    }

    .slogan-position {
      @include mx.position(absolute, 150px, auto, auto, 100px);
      width: 40%;
      @media (max-width: vr.$breakpoint-md) {
        width: 70%;
        @include mx.position(absolute, 70px, auto, auto, 50px);
      }
  
      .slogan-style {
        @include mx.flex-display(column, center, start, wrap);

        .welcome {
          font-size: 27px;
          @media (max-width: vr.$breakpoint-md) {
            font-size: 15px;
          }
        }
  
        .slogan-text {
          font-family: ft.$Primary-Font;
          font-weight: 500;
          font-style: normal;
          font-size: 40px;
          margin-bottom: 15px;
  
          @media (max-width: vr.$breakpoint-md) {
            font-size: 20px;
          }
        }
  
        .button-style {
          width: 30%;
          background-color: cv.$white-color;
          padding: 10px 0;
          border-width: 0;
          border-radius: 50px;
          @media (max-width: vr.$breakpoint-md) {
            font-size: x-small;
            padding: 5px;
          }
        }
      }
    }
  }


  .products-background {
    background-color: cv.$white-color;
    padding-bottom: 50px;

    .products-headline {
      text-align: center;
      padding: 50px 0 25px 0;
      font-size: 25px;
      font-weight: 700;
      color: cv.$Headlines;
      @media (max-width: vr.$breakpoint-md) {
        font-size: 20px;
      }
    }

    .card-styling {
      width: 75%;
      margin: 0 auto;
      @media (max-width: vr.$breakpoint-md) {
      width: 90%;
    }
    }
  }

  .icons-container {
    width: 75%;
    margin: 0 auto;

    .icon-card {
      margin: 50px 0;
      @include mx.flex-display(column);

      img {
        width: 25%;
        @media (max-width: vr.$breakpoint-md) {
          width: 55%;
        }
      }

      span {
        margin-top: 15px;
        font-weight: bold;
        font-size: 20px;
        color: cv.$text-brown;
        @media (max-width: vr.$breakpoint-md) {
          font-size: 8px;
        }
      }
    }
  }

  .sales-container {
    background-color: cv.$BG-sales;

    .offer-container {
      padding-top: 24px;
      margin-top: 48px;
      @media (max-width: vr.$breakpoint-md) {
      padding-top: 0;
      margin-top: 15px;
    }
      .offer {
      font-weight: 700;
      font-size: 35px;
      @media (max-width: vr.$breakpoint-md) {
        font-size: 12px;
      }
    }

    .explore-button {
      background-color: cv.$text-brown;
      padding: 8px 24px;
      margin: 16px 0 0 8px;
      font-weight: 300;
      color: cv.$white-color;
      border-width: 0;
      border-radius: 50px;
      @media (max-width: vr.$breakpoint-md) {
        padding: 8px 13px;
        margin-top: 8px;
        font-size: 9px;
      }
    }
    }
  }
}
