@use "mixins" as mx;
@use "colors" as cv;

.row {
    margin-top: 100px;

    .header-style {
        text-align: center;
        font-size: 27px;
        font-weight: 700;
        color: cv.$text-brown;
        margin-bottom: 25px;
    }

    .stepper{
        width: fit-content;
        background-color: cv.$text-brown;
        padding: 8px;
        margin-left: 12px;
        border-radius: 4px;
        @include mx.flex-display(row, flex-start, center);

        .stepper-option{
            padding: 6px 10px;
            color: white;
            font-weight: 600;
            cursor: pointer;
        }

        .stepper-active-option{
            background-color: #b49773;
            border-radius: 4px;
        }
    }

    .menu-container {
        @include mx.flex-display(row, space-evenly, center, wrap);

        .menu-option {
        width: 40%;
        display: flex;
        margin: 16px 0;

        .img-style {
            width: 30%;
            margin-right: 7px;
        }
        .product-description {
            background-color: #f1f0ee;
            border-radius: 8px;
            padding: 10px;
            @include mx.flex-display(column, space-between, start);

            .btn-style {
              font-size: 14px;
              background-color: cv.$text-brown;
              color: white;
            }
        }
    }
    }

}
