<div class="container py-5">
    <div class="row align-items-center bg-white py-4 border rounded">
        <span class="header-style">COFFEE MENU</span>

        <div class="stepper">
            <div class="stepper-option" [class.stepper-active-option]="isHotDrinks" (click)="viewHotDrinks()">Hot Drinks
            </div>
            <div class="stepper-option" [class.stepper-active-option]="isColdDrinks" (click)="viewColdDrinks()">Cold
                Drinks</div>
        </div>

        <div class="separator">
            <div class="separator-line"></div>
            <span class="separator-title">Hot Drinks</span>
            <div class="separator-line"></div>
        </div>

        <!-- Hot Drinks Menu -->
        <div class="menu-container">
            @for (item of hotCoffee; track $index) {
            <app-menu-option class="item-positioning" [menuItems]="item" [selectedProduct]="item" />
            }
        </div>

        <div class="separator" #coldDrinksSection>
            <div class="separator-line"></div>
            <span class="separator-title">Cold Drinks</span>
            <div class="separator-line"></div>
        </div>

        <!-- Cold Drinks Menu -->
        <div class="menu-container">
            @for (item of icedCoffee; track $index) {
            <app-menu-option class="item-positioning" [menuItems]="item" [selectedProduct]="item" />
            }
        </div>
    </div>
</div>

@if(subtotal != 0 && showSubtotal){
<app-subtotal (close)="closeSubtotal()" />
}