<div class="container py-5">
    <div class="row align-items-center bg-white py-4 border rounded">
        <span class="header-style">COFFEE MENU</span>

        <div class="stepper">
            <div class="stepper-option" [class.stepper-active-option]="isHotDrinks" (click)="viewHotDrinks()">Hot Drinks
            </div>
            <div class="stepper-option" [class.stepper-active-option]="isColdDrinks" (click)="viewColdDrinks()">Cold
                Drinks</div>
        </div>

        <div class="separator">
            <div class="separator-line"></div>
            <span class="separator-title">Hot Drinks</span>
            <div class="separator-line"></div>
        </div>

        <!-- Hot Drinks Menu -->
        <app-menu-option [menuItems]="hotCoffee"></app-menu-option>

        <div class="separator" #coldDrinksSection>
            <div class="separator-line"></div>
            <span class="separator-title">Cold Drinks</span>
            <div class="separator-line"></div>
        </div>

        <!-- Cold Drinks Menu -->
        <app-menu-option [menuItems]="icedCoffee"></app-menu-option>
    </div>
</div>