@use "mixins" as mx;
@use "colors" as cv;

.row {
    margin-top: 100px;

    .menu-container {
        @include mx.flex-display(row, space-evenly, center, wrap);

        .item-positioning{
            width: 50%;
            @include mx.flex-display();
        }
    }

    .header-style {
        text-align: center;
        font-size: 27px;
        font-weight: 700;
        color: cv.$text-brown;
        margin-bottom: 25px;
    }

    .stepper{
        width: fit-content;
        background-color: cv.$text-brown;
        padding: 8px;
        margin-left: 12px;
        border-radius: 4px;
        @include mx.flex-display(row, flex-start, center);

        .stepper-option{
            padding: 6px 10px;
            color: white;
            font-weight: 600;
            cursor: pointer;
        }

        .stepper-active-option{
            background-color: #b49773;
            border-radius: 4px;
        }
    }

    .separator{
        margin-top: 34px;
        margin-bottom: 6px;
        @include mx.flex-display();

        .separator-line{
            height: 2px;
            width: 35%;
            background-color: cv.$Background;
        }

        .separator-title{
            margin: 0 8px;
            color: cv.$text-brown;
        }
    }
}
