@use "variables" as vr;
@use "colors" as cv;

.container{
    padding: 48px 0;

    .row{
        margin-top: 100px;
        border-radius: 8px;
        background-color: white;

        .header-style {
            text-align: center;
            font-size: 27px;
            font-weight: 700;
            color: cv.$text-brown;
            margin: 25px 0;
        }
    }   
}