@use "variables" as vr;
@use "colors" as cv;

.container{
    padding: 48px 0;

    .row{
        margin-top: 100px;
        border-radius: 8px;
        background-color: white;
        padding: 0 12px;

        .header-style {
            text-align: center;
            font-size: 27px;
            font-weight: 700;
            color: cv.$text-brown;
            margin: 25px 0;

        }

        .btn-container{
            margin-top: 37px;
            @media (max-width: vr.$breakpoint-md){
                margin: 10px 0;
            }
        }

        .login-btn{
            border: 1px solid cv.$text-brown;
            width: 100%;
        }

        .login-btn:hover{
            background-color: cv.$text-brown;
            color: white;
        }

        .disclamer{
            margin-bottom: 90px;
            font-size: small;
            font-weight: 500;
        }
    }   
}