<div class="item-container">
    <div class="item-details">
        <img [src]="cartItem.productImg" alt="Item Image">
        @if(!isMobileView){
        <div class="pricing">
            <h4>{{cartItem.productName}}</h4>
            <span class="price">{{'EGP ' + cartItem.productPrice}}</span>
        </div>
        }
    </div>

    <div class="btns">
        @if(isMobileView){
        <h4 class="title">{{cartItem.productName}}</h4>
        }
        <div class="counter">
            @if(isMobileView){
            <span class="price">{{'EGP ' + cartItem.productPrice}}</span>
            }
            <span class="minus" (click)="decreaseItemCounts(cartItem.productPrice)">-</span>
            <span>{{cartItem.counts}}</span>
            <span class="plus" (click)="increaseItemCounts(cartItem.productPrice)">+</span>
        </div>
        <button class="btn btn-outline-danger" (click)="removeCartItem(cartItem.id)">
            <span>REMOVE</span>
            <i class="fa-regular fa-trash-can"></i>
        </button>
    </div>
</div>