$Background: #e9dfd1;
$Headlines: #3c2c0c;
$Primary-Accent: #5c4033;
$Secondary-Accent: #a9745c;
$white-color: #ffffff;
$text-whitesmoke: #f5f5f5;
$text-dark-gray: #333333;
$text-light-gray: #777777;
$text-brown: #4d4034;
$BG-sales: #dfd9cd;
$BG-dark-orange: #ba8c00;